*{
    margin: 0px;
    padding: 0PX;
}
.outside{
    background-color: rgb(64, 73, 60);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardbody{
    height: 60%;
    width: 45%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.image{
    width: 50%;
    height: 100%;
    background-image: url(/images/imageDesktop.jpg) ;
    background-position: center;
    background-size: cover;

}
.rightside{
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
   padding: 10px;
   padding-top: 2em;
   background-color: #fff;
}

.txt{
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
h3{
    padding: 5px 0;
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman';
}
.txt p{
    color: rgb(184, 169, 169)
}
.txt p :nth-child(1) {
    font-size: 10px;
}
.txt p :nth-child(2) {
    font-size: 14px;
    padding-top: 10px;
}
.price{
    display: flex;
    align-items: center;
    color: rgb(17, 92, 15);
    font-size: 25px;
    padding: 15px 0;
    /* margin-top: 1em; */
}


.subPrice{
 font-weight: lighter;
 font-size: 12px;
 margin-left: 15px;
}
.cart{
    display: flex;
     background-color: rgb(16, 78, 44);
     color: #fff;
     border-radius: 10px;
     justify-content: center;
     gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width:800px){
    .outside{
        background-color: rgb(250, 223, 215);
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .cardbody{
        height: 90%;
        width: 85%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
    }
    .image{
        width: 100%;
        height: 50%;
        background-image: url(/images/imageDesktop.jpg) ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .rightside{
        width: 100%;
        height: 50%;
        justify-content: center;
       padding: 10px;
       background-color: #fff;
    }
    
    .txt{
        height: 60%;
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 0em;
    }
    h3{
        padding: 5px 0;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman';
        font-size: 30px;
        margin-bottom: 10px;
    }
    .rightside .txt p{
       font-size: 15px; 
    }
    
    .price{
        display: flex;
        align-items: center;
        color: rgb(17, 92, 15);
        font-size: 35px;
        padding: 15px 0;
    }
    
    
    .subPrice{
     font-weight: lighter;
     font-size: 15px;
     margin-left: 15px;
    }
    .cart{
        display: flex;
         background-color: rgb(7, 87, 7);
         color: #fff;
         border-radius: 10px;
         justify-content: center;
         align-items: center;
         gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 90%;
    }
}